<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AFB08B41E2E7521000FEFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AFB08CD1E2E7521000FEFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AFB08D81E2E7521000FEFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
